/**
 * general stylesheet for the entire application
 *
 */



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background-image:url('../images/body-background.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  .row{
    margin:0;
  }
  > *{
    margin:0;
    margin-bottom:20px;
  }
  [class*="col-"] {
    padding:0;
  }
  *:focus{
    outline: 0;
  }
  
  .center{
    margin:auto;
  }
  
  /* Everything but the jumbotron gets side spacing for mobile first views */
  header,
  footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /* Custom page header */
  header {
    background-color:black;
    color:white;
    padding: 20px 0;
    input{
      width:200px;
    }
  }
  
  
  .container-narrow > hr {
    margin: 30px 0;
  }
  
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
  
    /* Remove the padding we set earlier */
    header,
    footer {
      padding-left: 0;
      padding-right: 0;
    }
  }

}
