/**
 *  stylesheet for the main screen
 *
 */


/* Space out content a bit */
.main {
  background-color: rgba(103, 103, 102, 0.6);
  padding:20px;
  > *{
    margin:0;
    margin-bottom:20px;
  }
  .top-row{
    background-color:$mainColor;
    color:gray;
    padding: 10px;
    text-align:left;
  }
  
  .menus-row{
    margin:0;
    text-align: justify;
    .menu{
      width: 32%;
      display: inline-block;
      background-color:black;
      color:white;
      text-align:center;
      position: relative;
      .list{
        display:none;
        position:absolute;
        width: 100%;
        ul{
          margin:0;
          padding:0;
          li:not(:first-child){
            button{
              border-top: 1px solid rgb(232, 229, 229);
            }
          }
          li{
            list-style: none;
            background-color:#F4F4F4;
            padding: 0 10px;
            button{
              background: transparent;
              padding: 0;
            }
          }
        }
        
      }
      .text{
        padding-top: 14px;
        p{
          font-size: 16px;
          margin:6px;
        }
      }
      .icon-container{
        padding-top: 7px;
        margin:auto;
        height:55px;
        overflow:hidden;
      }
      button{
        width: 100%;
        border: 0;
        background-color:$mainColor;
        color:gray;
        padding: 0 10px;
        height: 30px;
        text-align:left;
        i{
          color:black;
          font-size:15px;
          @include transition(all 0.3s ease-in-out 0s);
          @include transform(rotate(0deg) scale(1));
        }
      }
    }
    .menu:hover{
      .list{
        display:block;
      }
      button{
        i{
          @include transform(rotate(180deg) scale(1));
        }
      }
    }
  }
  .menus-row:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
  }
  
  
  .tab-row{
    margin:0;
    height: 50px;
    text-align: justify;
    .tab{
      width: 24%;
      display: inline-block;
      button{
        border:0;
        width: 100%;
        height: 50px;
        background-color:rgb(100, 100, 100);
        color:white;
        text-align:center;
        .text{
          vertical-align:middle;
          p{
            font-size: 1.6vw;
            display: inline-block;
            margin:0;
          }
        }
      }
      button.tab-active{
        color: gray;
        background-color:$mainColor;
      }
    }
  }
  .tab-row:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
  }
  
  .content{
      background-color:$mainColor;
      padding:20px;
      min-height: 350px;
      
      .controls{
        position:relative;
        margin:0;
        height: 40px;
        text-align: justify;
        .selectbox{
          display: table;
          height: 100%;
          .select-cell{
            display:table-cell;
            vertical-align: middle;
            select{
              width:200px;
            }
          }
        }
        .buttons{
          text-align:right;
          button{
            border: 0;
            background: transparent;
            height: 40px;
           }
           .settings-button{
            z-index: 99;
            position: relative;
            img{
             @include transition(all 0.3s ease-in-out 0s);
             @include transform(rotate(0deg) scale(1));
             }
           }
          .settings-button.white{
            background-color: white;
            img{
              @include transform(rotate(-45deg) scale(1));
            }
          }
        }
        .settings{
          top: 40px;
          @include box-shadow(#B8B7B7 2px 1px 11px);
          background-color: white;
          padding: 20px;
          text-align: right;
          position: absolute;
          width: 100%;
          .folder{
            background-color: rgb(218, 215, 216);
            padding: 5px;
            margin-bottom:20px;
            text-align:center;
          }
          button{
            background-color: black;
            color: white;
            border: 0;
          }
        }
        
      }
      .content-controls:after {
        content: '';
        width: 100%;
        display: inline-block;
      }
      
      iframe{
        margin-top:12px;
        width: 100%;
        height: 1000px;
      }
      
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid #e5e5e5;
  
    .btn {
      font-size: 21px;
      padding: 14px 24px;
    }
  }
  
  /* Supporting marketing content */
  .marketing {
    margin:0;
    p + h4 {
      margin-top: 28px;
    }
  }
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
  
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }

}
