<!-- template for the main screen -->

<div class="main">
	<div class="top-row">
		The data of UTF BI would be updated at 16:00 pm.
	</div>
	<!-- begin menu row -->
	<div class="row menus-row">
		<div class="menu">
			<div class="text">
				<p>
					Select
				</p>
				<p>
					Reporting Platform
				</p>
			</div>
			<div class="icon-container">
				<img src='../images/icons/action-report-new.png' />
			</div>
			<button ng-click="redirect('http://www.walla.com')">
				Choose QS Report
				<i class="fa fa-caret-down pull-right"></i>
			</button>
			<div class="list">
				<ul>
					<li>
						<button ng-click="redirect('http://www.walla.com')">Coorporate</button>
					</li>
					<li>
						<button ng-click="redirect('http://www.google.com')">Simple</button>
					</li>
					<li>
						<button ng-click="redirect('http://www.google.com')">Business</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="menu">
			<div class="text">
				<p>
					Select
				</p>
				<p>
					DashBoard
				</p>
			</div>
			<div class="icon-container">
				<img src='../images/icons/action-report-top.png' />
			</div>
			<button ng-click="redirect('http://www.netcraft.co.il/')">
				Choose Dashboard
				<i class="fa fa-caret-down pull-right"></i>
			</button>
			<div class="list">
				<ul>
					<li>
						<button ng-click="redirect('http://www.netcraft.co.il/')">Account Dashboard</button>
					</li>
					<li>
						<button ng-click="redirect('http://www.ynet.co.il/')">Daily Huddle Dashboard</button>
					</li>
					<li>
						<button ng-click="redirect('http://www.walla.com')">Tier 2 Dashboard</button>
					</li>
					<li>
						<button ng-click="redirect('http://www.ynet.com')">ADM Dashboard</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="menu">
			<div class="text">
				<p>
					Help &
				</p>
				<p>
					Tutorials
				</p>
			</div>
			<div class="icon-container">
				<img src='../images/icons/actions-help.png' />
			</div>
			<button ng-click="redirect('http://www.ynet.co.il/')">
				Choose guide
				<i class="fa fa-caret-down pull-right"></i>
			</button>
			<div class="list">
				<ul>
					<li>
						<button ng-click="redirect('http://www.ynet.co.il/')">Coorporate</button>
					</li>
					<li>
						<button ng-click="redirect('http://www.netcraft.co.il/')">Simple</button>
					</li>
					<li>
						<button ng-click="redirect('http://www.walla.co.il/')">Business</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end menu row -->

	<!-- begin tab row -->
	<div class="row tab-row">
		<div class="tab">
			<button ng-click="openTab('reports')" ng-class="{'tab-active' : tabFrames.reports.open }">
				<div class="text">
					<i class="fa fa-external-link"></i>
					<p>
						Quick Reports
					</p>
				</div>
			</button>
		</div>
		<div class="tab">
			<button  ng-click="openTab('folders')" ng-class="{'tab-active' : tabFrames.folders.open }">
				<div class="text">
					<i class="fa fa-star-o"></i>
					<p>
						My Folders
					</p>
				</div>
			</button>
		</div>
		<div class="tab">
			<button ng-click="openTab('teamFolders')" ng-class="{'tab-active' : tabFrames.teamFolders.open }">
				<div class="text">
					<i class="fa fa-folder-open-o"></i>
					<p>
						My Team Folders
					</p>
				</div>
			</button>
		</div>
		<div class="tab">
			<button ng-click="openTab('publickReport')" ng-class="{'tab-active' : tabFrames.publickReport.open }">
				<div class="text">
					<i class="fa fa-files-o"></i>
					<p>
						Public Reports
					</p>
				</div>
			</button>
		</div>
	</div>
	<!-- end tab row -->

	<!-- begin content -->
	<div class="content">
		
		<div class="row controls">
			<div class="col-xs-6 selectbox">
				<div class="select-cell">
					<select ng-model="selectedUrl" ng-change="changeSelect()" ng-options="url as url.name for url in urlList" ng-show="showSelect">
					</select>
				</div>
			</div>
			<div class="col-xs-6 buttons">
				<button ng-click="redirect(currentUrl)" ng-show="showExpand">
					<img src='../images/icons/expand.png' />
				</button>
				<button id="settings-button" ng-click="openSettings()" class="settings-button" ng-class="{'white' : showSettings }"
				 ng-show="showSettingsButton">
					<img src='../images/icons/settings.png' />
				</button>
			</div>
			<div class="settings" ng-show="showSettings">
				<form id="settings-form">
					<div class="row folder" ng-repeat="folder in FolderList">
						<div class="col-xs-2">
							{{tabFrames[currentTab].item}} 0{{FolderList.indexOf(folder)+1}}
						</div>
						<div class="col-xs-5">
							Name <input ng-blur="setValidations()" id="name-{{FolderList.indexOf(folder)}}" type="text"
								ng-model="folder.name" required/>
						</div>
						<div class="col-xs-5">
							URL <input ng-blur="setValidations()" id="url-{{FolderList.indexOf(folder)}}" type="url"
								ng-model="folder.url" required />
						</div>
					</div>
					<button id="submit" type="submit" ng-click="saveSettings()">Save</button>
				</form>
			</div>
		</div>
		
		<iframe id="front-fisbo-video" ng-show="showIframe"
		frameborder="0" allowfullscreen="1" title="current frame"
		ng-src="{{currentUrl}}"></iframe>

	</div>
	<!-- end content -->
</div>

